
@{
    ViewBag.Title = "Patient_registration";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title> Doctors 24/7 </title>
    <link rel="icon" type="image/png" href="images/icon.png" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/css/login_signin.css" rel="stylesheet" />
    <link href="~/css/header.css" rel="stylesheet" />
</head>
<body>
    <header>


        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="images-logo">
                        <images id="logo" src="~/images/logo.png" class="images-responsive">
                    </div>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
        </div>
        </div>
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class=" nav navbar-nav ">
                                <li class="nav-item">@Html.ActionLink("Home", "Hologin", "Home")</li>
                                <li class="nav-item"> @Html.ActionLink("Doctors", "Doctors_dept", "Home")</li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Donors
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="donor.php">A+</a></li>
                                        <li><a href="#">B+</a></li>
                                        <li><a href="#">AB+</a></li>
                                        <li><a href="#">O+</a></li>
                                        <li><a href="#">A-</a></li>
                                        <li><a href="#">B-</a></li>
                                        <li><a href="#">AB-</a></li>
                                        <li><a href="#">O-</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item"> @Html.ActionLink("Hospitals", "Hospital", "Home")</li>
                                <li class="nav-item">@Html.ActionLink("Health Cards", "HealthCards", "Home")</li>
                                <li class="nav-item"> @Html.ActionLink("Health Blogs", "Health_blog", "Home")</li>
                                <li class="nav-item"> @Html.ActionLink("Contact", "Contact", "Home")</li>
                                <li class="nav-item"> @Html.ActionLink("About", "About", "Home")</li>
                                <li class="nav-item"> <a href="#"> Listed Data </a></li>
                                <li class="nav-item"> <a href="#"> Admin Panel </a></li>
                            </ul>

                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <?php if(isset($_SESSION['success'])): ?>
                                    <p>
                                        <?php
                                        echo $_SESSION['success'];
                                        unset($_SESSION['success']);
                                        ?>
                                    </p>
                                    <?php endif; ?>
                                    <a class="dropdown-toggle" data-toggle="dropdown">

                                        <!-- <?php if(isset($_SESSION["signUpUserName"])):
                   ?>
                   <p><?php echo $_SESSION['signUpUserName']; ?><span class="caret"></span></p>
                <?php endif; ?> -->
                                        <?php if(isset($_SESSION["signInUserName"])) :
                                        ?>
                                        <p><?php echo $_SESSION['signInUserName']; ?> <span class="caret"></span></p>


                                        <?php endif; ?>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <!-- <?php if(isset($_SESSION["signUpUserName"])):
                ?>
                <li> <a href="doctor_private.php"> Profile </a></li>

                <?php endif ;?> -->
                                        <?php if(isset($_SESSION["signInUserName"])):
                                        ?>
                                        <li> <a href="doctor_private.php"> Profile </a></li>

                                        <?php endif ;?>

                                        <!-- <?php if(isset($_SESSION["signUpUserName"])):
                ?>
                <li> <a href="logout.php"> Logout </a></li>

                <?php endif ;?> -->
                                        <?php if(isset($_SESSION["signInUserName"])):
                                        ?>
                                        <li> <a href="logout.php"> Logout </a></li>

                                        <?php endif ;?>
                                    </ul>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </nav>

    </header>



    <div class="background_height">
        <!-- first div ta height thik korar jonno-->
        <div class="SignBackground">
            <!-- 2nd div ta image add  korar jonno-->
            <div class="container">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <form method="post" action="patient_registration.php" class="signUpContainer">
                            <?php include('registrationerrors.php');?>
                            <div class="signUp">Sign Up</div>

                            <div class="form-group">
                                <input type="singUpFirstName" class="form-control" id="signUpFirstName" placeholder="FirstName" name="firstName">
                                <div><label style="color: black"><?php echo $first_name_error; ?></label></div>
                            </div>




                            <div class="form-group">

                                <input type="signUpLastName" class="form-control" id="signUpLastName" placeholder="LastName" name="lastName">
                                <div><label style="color:black"><?php echo $last_name_error; ?></label></div>
                            </div>



                            <div class="input-group">

                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="signUpUserName" type="text" class="form-control" name="signUpUserName" placeholder="Username">
                            </div>
                            <div><label style="color:black"><?php echo $username_error; ?></label></div>
                            <div><label style="color:black"><?php echo $usernameExists_error; ?></label></div>

                            <br>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input id="email" type="text" class="form-control" name="email" placeholder="Email">
                            </div>
                            <div><label style="color:black"><?php echo $email_error; ?></label></div>
                            <div><label style="color:blaxk"><?php echo $emailExists_error; ?></label></div>



                            <br>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input id="signUpPassword" type="password" class="form-control" name="signUpPassword" placeholder="Password">
                            </div>
                            <div><label style="color:black"><?php echo $password_error; ?></label></div>

                            <br>



                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input id="confermPassword" type="password" class="form-control" name="confirmPassword" placeholder="confirmPassword">
                            </div>
                            <div><label style="color:black"><?php echo $confirm_password_error; ?></label></div>




                            <br>



                            <button type="submit" class="btn btn-primary btn-block" name="signupbutton">Sign Up</button>
                            <br>
                            <div class="textCen textInLogSign">
                                Already have account?
                                <a href="login_patient.php" role="button" class="btn btn-info">Log in</a></button>
                            </div>


                        </form>
                    </div>
                    <div class="col-md-4"></div>

                </div>
            </div>
        </div>
        <!--  contact background ends here -->
        <footer>

            <div class="last_part">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <h1 class="text-center book_phone_text"> Like to book on phone? Call </h1>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <p class="text-center book_phone_no">
                                <i class="fa fa-phone fa-5x" aria-hidden="true"></i>
                                <span class="phone_no">724889</span>
                            </p>
                        </div>

                        <div class="col-md-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <images id="logo-footer" src="~/images/logo.png" class="images-responsive">
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <h4> <i class="fa fa-copyright" aria-hidden="true"></i> 2019 Doctors24/7 Ltd. All rights reserved.<br></h4>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div>

                    </div>
                </div>
            </div>

        </footer>


</body>
</html>
